.currentMarkerContainer {
  border: 1px solid rgb(71, 255, 95);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  display: inline-block;
  background-color: rgb(215, 250, 247);
  padding: 10px;
}
.markerContainer {
  border: 1px solid rgb(172, 170, 170);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: inline-block;
  background-color: rgba(237, 237, 237, 0.5);
  padding: 5px;
}
.markerContainer p {
  font-size: 15px;
}
.currentMarkerContainer p {
  font-size: 30px;
  color: rgb(107, 107, 245);
}
